<h1>Restaurants</h1>
<p>
  <ul>
  <% @restaurants.each do |restaurant| %>
    <li>
      <strong>Name:</strong>
      <%= link_to restaurant.name, restaurant_path(restaurant) %>
    </li>
  <% end %>
  </ul>
</p>
