<h1><%= @restaurant.name %></h1><br>
<p>
<strong>Address</strong><br>
  <%= @restaurant.address %><br><br>
  <strong>Category</strong><br>
  <%= @restaurant.category %><br><br>
  <strong>Phone number</strong><br>
  <%= @restaurant.phone_number %><br>
</p>
